<!-- Firebase Tic Tac Toe -->
<!-- by Brian Cottrell    -->
<!-- 10-16-2014           -->
<!DOCTYPE html>
<html>
	<head>
		<title>Angular Javascript Tic Tac Toe</title>
		<meta charset='utf-8'>
    	<link rel='stylesheet' type='text/css' href='style.css'>
		<script src="angular.min.js"></script> 
		<script src="firebase.min.js"></script>
		<script src="angularfire.min.js"></script> 	
    	<script src='main.js'></script>
	</head>
	<body x-ng-app='TTTApp' x-ng-controller='TTTController'>
		<div class='outer'>
			<h2>Angular Javascript Tic Tac Toe</h2>
			<br/>
			<div class='inner'>
				<!-- Build the game board with calculated properties -->
				<div class='cell' 
				x-ng-repeat='singleCell in board track by $index'
				x-ng-style='{"padding": sideLength,"margin": spacing}'
				x-ng-class='{clearFix: checkRow() == 0, 
				 			xclass: singleCell == -1, 
				 			oclass: singleCell == 1}'
				x-ng-click='selectBox()'>
				</div>
				<p class='author'>by Brian Cotrell</p>
			</div>
			<div class='lower'>

				<li ng-repeat="oneComment in storeSelect">
					{{storeSelect.cellIndex}} <br>
				</li>
				<p>{{storeSelect.cellIndex}}</p>
				<!-- Displays whos turn it is or if anyone has won -->
				<p>{{winText}}</p>
				<br/>
				<!-- Displays how many times each player has won -->
				<p>X Win Count</p>
				<p>{{winCountX}}</p>
				<br/>				
				<p>O Win Count</p>
				<p>{{winCountO}}</p>
				<br/>			
				<button x-ng-click='setBoard()'>Reset</button>
			</div>	
		</div>
	</body>
</html>